# PostgreSQL Configuration
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=username
PG_PASSWORD=password
PG_DATABASE=db

JWT_SECRET=secret

# MongoDB Configuration
MONGO_URI=mongodb://myUser:myPassword@localhost:27017/trackingDB

#imagekit
IMAGEKIT_PUBLIC_KEY=your_public_key
IMAGEKIT_PRIVATE_KEY=your_private_key
IMAGEKIT_URL_ENDPOINT=your_url_endpoint